docs/*
!docs/MOCK_DATA.md
!docs/FEATURES.md
.claude/settings.local.json

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

bash.*

backend/target/
backend/.idea/
backend/*.iml
backend/.mvn/