spring:
  application:
    name: bocra-backend

  datasource:
    url: jdbc:postgresql://YOUR_SUPABASE_HOST:6543/postgres
    username: postgres.onszlolchlvmqlzoqbvw
    password: bocra@2026?
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080